.certificates {
    margin: 0 100px 0;
    margin-top: -30px;
    padding: 60px 0 0;
  }
  .title-certificates{
    font-weight: bold;
    color: #643843;
    font-size: 40px;
    margin: 40px 0;
  }

  .container-certificates {
    margin: 0 auto;
    max-width: 800px;
  }
  
  .card-certificates {
    display: flex;
    gap: 20px;
    width: 800px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    background-color: white;
  }
  .card-certificates img {
    max-width: 100%;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
  }
  
  .card-certificates figure img {
    width: 350px;
    height: 450px;
  }
  .title-skill {
    text-align: center;
    font-size: 30px;
    color: #9F6473;
    text-decoration: underline;
}
    
  .description-certificates {
    padding: 20px;
  }

  .description-certificates .title-skills:hover {
    color: orange;
  }
  
  .description-certificates p {
    max-width: 450px;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
  }

/*********** Tablet ***********/
@media screen and (min-width: 461px)  and (max-width: 768px){

  .certificates {
    width: 1400px;
    margin: 0 150px 0;
  }

  .title-certificates {
    font-size: 50px;
    margin-bottom: 20px;
  }
  .card-certificates {
    margin-top: 50px;
    margin-left: -80px;
  }
  
  .card-certificates figure img {
    width: 400px;
  }

}

/*********** Mobaile ***********/
@media screen and (max-width: 460px){

  .certificates {
    margin: 0 50px 0;
  }
  .title-certificates{
    font-size: 90px;
    margin-bottom: 20px;
  }

  .card-certificates {
    flex-direction: column;
    margin-left: 190px;
  }

  .card-certificates figure img {
    width: 800px;
    height: 980px;
  }

  .description-certificates p {
    max-width: 700px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 40px;
    line-height: 1.5;
    text-align: justify;
  }

}
