.languages {
    margin: 0 100px 0;
    margin-top: -30px;
    padding: 60px 0 0;
  }
  .title-languages{
    font-weight: bold;
    color: #643843;
    font-size: 40px;
    margin: 40px 0;
  }

  .list-languages{
    display: flex;
    flex-direction: column;
    color: #553539; 
    font-size: 25px;
    margin-left: 150px;
  }
  .out{
    height: 20px;
    width: 513px;
    background-color: white;
  }
  .in{
    height: 20px;
    background-color: #9F6473;
    width: 0.1px;
    transition: width 2s;
    transition-timing-function: ease-in-out;
  }
  .out:hover .in, .out:active .in{
    
    width: 100%;
  }

  .ine{
    height: 20px;
    background-color: #9F6473;
    width: 0.1px;
    transition: width 2s;
    
    transition-timing-function: ease-in-out;
  }
  .out:hover .ine{
    
    width: 65%;
  }

/*********** Tablet ***********/
@media screen and (min-width: 461px)  and (max-width: 768px){

  .languages {
    margin: 0 150px 0;
    width: 1400px;
  }
  .title-languages{
    font-size: 50px;
    margin-bottom: 20px;
  }
  .list-languages{
    font-size: 40px;
  }

  .list-languages span{
    font-size: 30px;
  }
  .out{
    width: 900px;
  }

}

/*********** Mobaile ***********/
@media screen and (max-width: 460px){

  .languages {
    margin: 0 50px 0;
    width: 1500px;
  }
  .title-languages{
    font-size: 90px;
    margin-bottom: 20px;
  }

  .list-languages{
    font-size: 70px;
  }

  .list-languages span{
    font-size: 45px;
  }

  .out{
    height: 40px;
    width: 900px;
  }

  .in{
    height: 40px;
  }

  .ine{
    height: 40px;
  }

}
  


