.references {
    display: grid;
    grid-template-areas: "left right";
    margin: 0 100px 0;
    margin-bottom: 150px;
    margin-top: -30px;
    padding: 60px 0 0;
  }
  .title-references{
    font-weight: bold;
    color: #643843;
    font-size: 40px;
    margin: 40px 0;
  }
  .subtitle{
    margin-left: 62px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #643843;
  }
  .list{
    display: flex;
    gap: 30px;
  }


  .list-references{
    display: flex;
    flex-direction: column;
    color: #553539; 
    font-size: 25px;
    margin-left: 20px;
  }
  
  .list-references li{
    list-style: none;
  }

  .list-references img{
    width: 20px;
    height: 20px;
    margin-top: 12px;
  }

  .right{
    margin-top: 120px;
    margin-right: 40px;
  }
  .right img{
    width: 250px;
    height: 250px;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
  }

  .right:hover img {
    transform: scale(1.2);
  }

/*********** Tablet ***********/
@media screen and (min-width: 461px)  and (max-width: 768px){
  
  .references {
    width: 1400px;
    margin: 0 100px 0;
    gap: 0px;
  }
  .title-references{
    font-size: 50px;
    margin-bottom: 20px;
  }
  .subtitle{
    font-size: 40px;

  }

  .left{
    width: 700px;
  }

  .list-references{
    font-size: 30px;
  }

  .list i {
    margin-top: 10px;
    font-size: 40px;
  }
  .right img{
    width: 300px;
    height: 300px;
    margin-left: 50px;
    
  }

}

/*********** Mobaile ***********/
@media screen and (max-width: 460px){
  .references {
    display: flex;
    flex-direction: column;
    margin: 0 50px 0;
    width: 1200px;
  }

  .title-references{
    font-size: 90px;
    margin-bottom: 20px;
  }

  .subtitle{
    font-size: 70px;

  }
  
  .list-references{
    font-size: 60px;
  }

  .list i {
    margin-top: 25px;
    font-size: 50px;
  }
  .right img{
    width: 600px;
    height: 600px;
    margin-left: 270px;
  }

}
